.sectionBg {
    background-image: url('https://vast.ai/_next/image?url=%2Fhome%2F_home_bg.webp&w=1920&q=90');
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "PT Serif";
    padding: 2rem 0;
    /* extra spacing for small screens */
}

.cardPosition {
    width: 80%;
}

.heading {
    font-weight: 400;
    line-height: 69px;
    font-size: clamp(34px, 5vw, 48px);
}