body {
  font-family: 'FK Grotesk Neue', Arial, Helvetica, sans-serif;
}

.containerWidth {
  max-width: 1260px;
  margin: auto;
}

@media (min-width: 1490px) {
  .containerWidth {
    max-width: 1330px;
    margin: auto;
  }
}

.responsive-heading {
  font-size: 28px;
}

@media (min-width: 576px) {
  .responsive-heading {
    font-size: 34px;
  }
}

@media (min-width: 768px) {
  .responsive-heading {
    font-size: 40px;
  }
}

@media (min-width: 992px) {
  .responsive-heading {
    font-size: 46px;
  }
}